In [12]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
data = pd.read_csv('/content/drive/MyDrive/Jewelry_price_data.csv')

In [3]:
data.head()

   Gold Amount  Making Charges  Price
0           10             110   1034
1           12             125   1234
2           14             142   1397
3           16             150   1611
4           18             170   1789

In [8]:
X = data[['Gold Amount','Making Charges']]
#X

In [9]:
y= data['Price']
#y

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
model = RandomForestRegressor(random_state=1)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=1)

In [14]:
model.predict(X_test)

array([6326.09, 3892.26, 5611.22, 4297.26, 2397.42, 2648.84])

In [16]:
y_test

27    6378
15    4010
23    5600
17    4399
8     2618
9     2800
Name: Price, dtype: int64

In [17]:
input_data = {
    'Gold Amount': [70],
    'Making Charges':[1000]
}

df = pd.DataFrame(input_data)

In [18]:
model.predict(df)

array([6624.31])